* {
    font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
}

body {
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 100px;
    margin-bottom: 100px;
    width: 1000px;
}

h1 {
    font-size: 36px;
}

p {
    font-size: 20px;
}

#profile_photo {
    height: 350px;
    float: left;
    margin-right: 50px;
}