* {
    font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
}

body {
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    width: 50%;
}

h1 {
    font-size: 36px;
}

p {
    font-size: 20px;
}

#profile_photo {
    width: 35%;
    float: left;
    margin-right: 3em;
    margin-bottom: 1em;
}